[submodule "public/javascripts/lib/underscore"]
	path = public/javascripts/lib/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "public/javascripts/lib/backbone"]
	path = public/javascripts/lib/backbone
	url = git://github.com/documentcloud/backbone.git
