!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title Battlebone
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    %script{type: 'text/javascript', src:'//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'}
    
  %body
    = yield
