.row
  #heading.span4
    %h1 Battlebone
    %p Analytics for World of Warcraft
    .contents
      %a.btn(href="/#realms") View Realms
  %script#realms(type="text/template")
    %p Realm status here...
